html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  overflow-x: hidden !important;
}

.loading-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-color: #0F1211;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}
.loading-screen .loading-logo {
  width: 100px;
  height: 100px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  position: relative;
  background-color: #FBFBFB;
  color: #FBFBFB;
  font-family: "Open Sans", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
body .row {
  display: flex;
  justify-content: center;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
@media (max-width: 650px) {
  body .row:has(.row-inner.no-pd-top) {
    margin-top: -1px;
  }
}
body .bg-light a:not(.btn), body .bg-mid a:not(.btn), body .bg-dark a:not(.btn) {
  color: inherit;
}
body .bg-light {
  background-color: #FBFBFB !important;
  color: #0F1211 !important;
}
body .bg-light a:hover {
  color: #6D7275;
}
body .bg-mid {
  background-color: #6D7275 !important;
  color: #FBFBFB !important;
}
body .bg-dark {
  background-color: #0F1211 !important;
  color: #FBFBFB !important;
}
body .bg-dark a:hover {
  color: #6D7275;
}
body .row-inner {
  width: 100%;
  max-width: 1400px;
  padding: 100px 25px;
  display: flex;
  justify-content: space-between;
}
body .row-inner.no-pd-top {
  padding-top: 0 !important;
}
body .row-inner.half-pd-top {
  padding-top: 50px;
}
body .row-inner.no-pd-btm {
  padding-bottom: 0 !important;
}
body .row-inner.half-pd-btm {
  padding-bottom: 50px;
}
body .row-intro {
  padding-bottom: 0 !important;
}
body .row-intro + .row-inner {
  padding-top: 25px;
}
@media (max-width: 650px) {
  body .row-intro + .row-inner {
    padding-top: 12.5px !important;
  }
}
body .col {
  padding-left: 7px;
  padding-right: 7px;
}
body .col:first-of-type {
  margin-left: -7px;
}
body .col:last-of-type {
  margin-right: -7px;
}
@media (max-width: 650px) {
  body .col:first-of-type {
    margin-left: 0;
  }
  body .col:last-of-type {
    margin-right: 0;
  }
}
body .col.col-12 {
  padding: 0;
  margin-left: 0;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Bodoni Moda SC", serif;
  line-height: 1em;
}
body p {
  line-height: 1.4em;
  margin-bottom: 0;
}
body p:not(:last-of-type) {
  margin-bottom: 20px;
}
body a:not(.button-primary) {
  transition: color 0.3s ease-in-out;
  color: inherit;
  text-decoration: underline;
}
body .button-primary {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  border: 2px solid;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
body .button-primary:hover {
  text-decoration: none;
}
body .fa {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 500;
}
body br {
  content: " ";
  display: block;
}
@media (max-width: 650px) {
  body .row:not(.row-type-images, .row-type-award-banner, .row-type-question) .row-inner {
    display: block !important;
    padding: 50px 25px;
  }
  body .row:not(.row-type-images, .row-type-award-banner, .row-type-question) .col {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  body .col-blank {
    display: none;
  }
  body .row-type-images .row-inner, body .row-type-award-banner .row-inner {
    padding: 50px 25px;
  }
  body .row-type-images .row-inner.half-pd-top, body .row-type-award-banner .row-inner.half-pd-top {
    padding-top: 25px;
  }
  body .row-type-images .row-inner.half-pd-btm, body .row-type-award-banner .row-inner.half-pd-btm {
    padding-bottom: 25px;
  }
}

header, body, .content, footer {
  width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 2;
}
header nav {
  height: 80px;
}
header nav .nav-inner {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 25px;
}
header nav .nav-inner a:not(.btn) {
  color: #FBFBFB;
}
header nav .nav-inner .btn:hover {
  cursor: auto;
}
header nav .logo img {
  width: 60px;
}
header nav div {
  height: 100%;
  display: flex;
  align-items: center;
}
header nav div .menu-item {
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}
header nav div .menu-item:not(:first-of-type) {
  padding-left: 15px;
}
header nav div .menu-item:not(:last-of-type) {
  padding-right: 15px;
}
header nav div .menu-item.active {
  position: relative;
}
header nav div .menu-item.active::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FBFBFB;
}
header nav.lg-nav {
  display: block;
}
header nav.sm-nav {
  display: none;
}
@media (max-width: 650px) {
  header nav.lg-nav {
    display: none;
  }
  header nav.sm-nav {
    display: flex;
    height: 76px;
  }
  header nav.sm-nav .logo img {
    width: 40px;
  }
  header nav.sm-nav .navbar-toggler {
    background-color: transparent !important;
    outline: none !important;
    padding-right: 0 !important;
  }
  header nav.sm-nav .navbar-toggler span {
    background-image: url("/media/img/download.svg");
  }
  header nav.sm-nav .navbar-collapse {
    background-color: #6D7275;
    position: absolute;
    top: 75px;
    left: 0;
    height: 0vh;
    width: 100%;
    transition: height 1s ease-in-out !important;
  }
  header nav.sm-nav .navbar-collapse.show {
    height: 100vh;
  }
  header nav.sm-nav .navbar-collapse .navbar-nav {
    text-align: center;
    width: 100%;
    height: 100vh;
    align-self: flex-start !important;
    margin-top: 50px;
  }
  header nav.sm-nav .navbar-collapse .navbar-nav li a {
    color: #FBFBFB;
    font-size: 20px;
  }
  header nav.sm-nav .navbar-collapse .navbar-nav li a:hover {
    color: #0F1211;
  }
}
header nav .menu-wrap {
  position: relative;
}
header nav .menu-wrap .book-now {
  margin-left: 30px;
}
header nav .menu-wrap .book-now .btn {
  background-color: #FBFBFB;
}

.row-type-question {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.row-type-question .row-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.row-type-question .answer-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.row-type-question .answer {
  display: inline;
  padding: 25px 15px;
  border: 2px solid #FBFBFB;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.row-type-question .answer:hover {
  background-color: #FBFBFB;
  color: #0F1211;
  text-decoration: none;
}
.row-type-question .or {
  margin: 0 20px;
}
.row-type-question .q-mark {
  margin-left: 10px;
}
.row-type-question a.me {
  text-decoration: underline;
}
@media (max-width: 650px) {
  .row-type-question .row-inner {
    display: inline-grid;
    padding: 50px 25px;
  }
  .row-type-question .row-inner .col {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .row-type-question .answer-wrap {
    flex-direction: column;
  }
  .row-type-question .answer {
    display: block;
    width: 100%;
  }
  .row-type-question .or {
    margin: 20px 0 !important;
  }
  .row-type-question .q-mark {
    margin-top: 20px;
    margin-left: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  flex: 1;
}
.content .row-type-hero h1, .content .row-type-page-introduction h1 {
  font-size: 75px;
}
@media (max-width: 650px) {
  .content .row-type-hero h1, .content .row-type-page-introduction h1 {
    font-size: 50px;
  }
}
@media (max-width: 650px) {
  .content .row-type-hero, .content .row-type-page-introduction {
    text-align: center;
  }
}
.content .row-type-banner .row-inner {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.content .row-type-images .row-inner.half-pd-top {
  padding-top: 25px;
}
.content .row-type-images .row-inner.half-pd-btm {
  padding-bottom: 25px;
}
.content .row-type-images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/4;
}
.content .row-type-gallery .col-12 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 0;
  margin-left: 0;
}
.content .row-type-gallery .col-12 a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .row-type-gallery#voStudio img {
  aspect-ratio: 1/1;
}
.content .row-type-half-half .row-inner {
  display: flex;
  align-items: center;
  padding: 0;
}
.content .row-type-half-half .col.content-wrap {
  padding: 25px;
}
.content .row-type-half-half .col.content-wrap h1, .content .row-type-half-half .col.content-wrap h2 {
  margin-bottom: 20px;
}
.content .row-type-half-half .col.content-wrap a .fa {
  width: 25px;
}
.content .row-type-half-half .col.content-wrap .links {
  margin-bottom: 20px;
}
.content .row-type-half-half .asset {
  display: flex;
}
.content .row-type-half-half .asset iframe {
  flex-grow: 1;
}
.content .row-type-half-half .asset img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media (max-width: 650px) {
  .content .row-type-half-half {
    text-align: center;
  }
  .content .row-type-half-half .asset-wrap {
    margin-bottom: 0;
  }
}
.content .row-type-audio #track {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.content .row-type-audio #player-container {
  position: relative;
  border: 1px solid #0F1211;
}
.content .row-type-audio #player-container #timeline {
  width: 100%;
  height: 5px;
  background: #6D7275;
  float: left;
  z-index: 1;
  position: absolute;
}
.content .row-type-audio #player-container #timeline #scrub {
  height: 5px;
  background-color: #0F1211;
  border: none;
  color: #6D7275;
  float: left;
}
.content .row-type-audio #player-container #timeline #playhead {
  width: 5px;
  height: 5px;
  background-color: #0F1211;
}
.content .row-type-audio #player-container .cover div#thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: auto;
  background-image: url("/media/img/default.jpg");
  aspect-ratio: 1/1;
  z-index: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.content .row-type-audio #player-container .cover #play-pause {
  cursor: pointer;
  text-indent: -999999px;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  float: left;
  z-index: 2;
  background-image: url("/media/img/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}
.content .row-type-audio #player-container .cover .play {
  background-image: url("/media/img/play.svg");
}
.content .row-type-audio #player-container .cover .pause {
  background-image: url("/media/img/pause.svg") !important;
}
.content .row-type-audio #player-container .panel {
  margin: 15px 15px 10px 125px;
}
.content .row-type-audio #player-container .panel #time-bar div {
  display: inline;
}
.content .row-type-audio #player-container .panel #time-bar div:first-of-type::after {
  content: "/";
}
.content .row-type-callout .callout img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .row-type-callout .callout .text-wrap {
  margin-top: 20px;
}
@media (max-width: 650px) {
  .content .row-type-callout .col-4:not(:last-of-type) .callout {
    margin-bottom: 30px !important;
  }
}
@keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}
.content .row-type-ticker .col-12 {
  overflow: hidden;
  padding: 0;
  margin-left: 0;
}
.content .row-type-ticker .ticker {
  display: flex;
}
.content .row-type-ticker .ticker .ticker-list {
  display: flex;
  margin-top: 20px;
  animation: ticker 50s infinite linear;
}
.content .row-type-ticker .ticker .ticker-item {
  margin-right: 20px;
}
.content .row-type-ticker .ticker .ticker-item img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .row-type-projects .col {
  display: flex;
}
.content .row-type-projects .project {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.content .row-type-projects .project img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .row-type-projects .project .text-wrap {
  margin-top: 20px;
}
.content .row-type-fw-img .row-inner {
  padding: 0;
}
.content .row-type-fw-img .row-inner img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.content .row-type-fw-img .col-12::before, .content .row-type-fw-img .col-12::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 2;
}
.content .row-type-fw-img .col-12::before {
  left: -100px;
  background-image: linear-gradient(to right, #0F1211, transparent 50px);
  transition: left 0.3s ease-in-out;
}
.content .row-type-fw-img .col-12::after {
  right: -100px;
  background-image: linear-gradient(to left, #0F1211, transparent 50px);
  transition: right 0.3s ease-in-out;
}
@media (min-width: 1400px) {
  .content .row-type-fw-img .col-12::before {
    left: 0;
  }
  .content .row-type-fw-img .col-12::after {
    right: 0;
  }
}

[title="Enter fullscreen"] {
  display: none !important;
}

footer {
  z-index: 1;
  margin-top: auto;
}
footer .footer-inner {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 25px 10px 25px;
}
footer .footer-inner .open-source {
  font-size: 12px;
}
footer .footer-inner .open-source a {
  text-decoration: underline;
}
footer .fa {
  font-size: 18px !important;
}
footer .socials a {
  text-decoration: none;
}
footer .socials a:not(:first-of-type) {
  padding-left: 3px;
}
footer .socials a:not(:last-of-type) {
  padding-right: 3px;
}
@media (max-width: 650px) {
  footer .footer-inner {
    display: block;
    padding: 10px 25px;
    text-align: right;
  }
  footer .socials {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */